body{

	background-color: #f2f2f2;
}


.titulo{
	font-size: 1.3em;
	margin-right: auto;
	margin-left: 5%;
}


.tabs .indicator{
	background-color: #d7ccc8 ;
}

.topoFixo{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.section{
	padding-top: 125px;
}

h6{
    margin: 1.4em !important;
}


